html{
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: 'Shrikhand', cursive;
}

footer{
    font-family: 'Shrikhand', cursive;
    a:link {
        font-family: 'Roboto', sans-serif;
    }
}

.carousel-heading, .carousel-heading2, .carousel-heading3{
    font-family: 'Shrikhand', cursive;
}