$color-primary: #d6a936;
$color-secondary:  #9c813e;
$color-tertiary: #99E2D0;
$color-gray: #8C6057;
$color-background: #FCFDAF;

$color-primary-dark: darken($color-primary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);
$color-gray-dark: #6d4f4a;